html, body {
  margin: 0; padding: 0;
  background:url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_wall.png);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  width: 55%;
}

input {
  width: 98%;
  padding: 15px 0px 15px 8px;
  border-radius: 5px;
  box-shadow: inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);
	background: rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,1);
  margin-bottom: 24px;
  color: white;
  text-shadow: #000 0px 1px 5px;
  opacity: 0.7;
  font-size: 18px;
}

input:hover {
  opacity: 1;
}

button {
  width:100%;
  padding:15px;
  margin-top: 24px;
  border-radius:5px;
  background-image: linear-gradient(#28D2DE 0%, #1A878F 100%);
  font: 18px;
  color: white;
  text-transform:uppercase;
  text-shadow:#000 0px 1px 5px;
  border:1px solid #000;
  opacity:0.7;
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
}

button:hover {
  opacity: 1;
  cursor: pointer;
}
